---
import { SignIn, SignOut } from 'auth-astro/components';
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);
---

<div>
  <SignIn provider='github'>Login</SignIn>
  {!session ? <SignIn provider='github'>Login</SignIn> : <SignOut>Logout</SignOut>}
</div>
